<center><h1 class="h1">Ruby on Rails. Study project one. Home page</h1></center>

<h3>HTTP request params</h3>

<table class="table" >
  <thead class="thead">
    <tr>
      <th scope="col">Parameter</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
    <% @http_request_params.each do |k,v| %>
        <tr>
        <td width="250px"><%= k %></td>
        <td><%= v.scan(/.{1,80}/).join(' ') %></td>
        </tr>
    <% end %>
</table>

<hr>

Server time is: <%= Time.now %> <br>
You IP is: <%= @remote_addr %>